/* css variables */
@import url(./partials/_variable.css);
/* global css */
@import url(./partials/_global.css);

/* start nav */

.header_area .maim-menu.navbar.navbar-brand {
  padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar {
  background: black;
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end nav */
.site-main {
  width: 100vw;
}
/* banner area */
.site-main .site-banner {
  background: black url(../img/banner/home2-banner.png) no-repeat 0% 50%;
  height: 85vh;
}
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
  color: white;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
  color: white;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
  color: whitesmoke;
}
.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* end banner area */

/* start about area */

.site-main .about-area {
  padding: 8rem 5rem;
  background: black;
}
.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
  color: white;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}
/* end about area */

/* brand area  */

.site-main .brand-area {
  padding: 1rem 20rem;
  /* margin-bottom: 4rem; */
  background: black;
}
.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0rem;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(1.8);
}
.site-main .brand-area .experience-area {
  padding-left: 1rem;
}
.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--roboto);
  color: var(--primary-color2);
  z-index: 2;
}
.site-main .brand-area .experience-area .years-area h2 > span {
  font: normal 600 22px/30px var(--roboto);
  color: rgba(255, 244, 250, 0.8);
}

.site-main .brand-area .experience-area .call-area {
  padding-left: 10rem;
}

.call-now > a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.596);
}
.call-now > a:hover {
  color: white;
}

/* end brand area  */

/* services area */

.site-main .services-area {
  padding: 7rem 2rem;
  background: black;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
  color: white;
}
.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(37, 37, 37, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-sahdow 0.7s ease;
}
.card-title {
  color: white;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* end services area */

/* project area */
.site-main .project-area {
  padding: 4rem 0;
  background: black;
}
.project-title > h1 {
  color: white;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.787);
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* end project area */

/* subscribe area */
.subscribe-us-area {
  background: black;
}
.site-main .subscribe-us-area .subscribe {
  background: url(../img/subscribe-bg.png) no-repeat;
  padding: 10rem 0rem;
  margin: 0 auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--roboto);
}

.site-main
  .subscribe-us-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}

form > .btn-submit > button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
}
/* end subscribe area */

/* footer area */

footer.footer-area {
  padding: 5rem 0;
  background: black url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}
footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: black;
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
/*end footer area */

.manPC {
  margin: 5rem;
}

#b-box1 {
  animation: box1 2s ease;
  animation-iteration-count: infinite;
}
#b-box2 {
  animation: box2 2s ease;
  animation-iteration-count: infinite;
}
#b-box3 {
  animation: box3 2s ease;
  animation-iteration-count: infinite;
}
#white-box {
  animation: whitebox 2s ease;
  animation-iteration-count: infinite;
}
#redcircle {
  animation: circle 2s ease;
  animation-iteration-count: infinite;
}

@keyframes box1 {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(0.5rem, -2.7rem);
  }
}
@keyframes box2 {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(2rem, 2.7rem);
  }
}
@keyframes box3 {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(-3rem, -2rem);
  }
}
@keyframes whitebox {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(0rem, 2rem);
  }
}
@keyframes circle {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translateY(-2rem);
  }
}
